{% extends "layout.html" %}

   {% block title %}
      Task List  
   {% endblock %}
   
   {% block content %}
   <h1>Task List</h1>
   <ul>
      {% for task in tasks %}
         <li class="task">
            <h3>{{ task.title }}</h3>
            <form action="{% url 'tasks:remove_task' task.id %}" method="post" class="remove-task">
               {% csrf_token %}
               <input type="hidden" name="task-id" value="{{ task.id }}">
               <button type="submit">Remover tarefa</button>
            </form>
            <form action="{% url 'tasks:complete_task' task.id %}" method="post">
               {% csrf_token %}
               <input type="hidden" name="task-id" value="{{ task.id }}">
               <button type="submit">Marcar como concluido</button>
            </form>
            <p class="description" >Descrição: {{ task.description }}</p>
               <span>{% if task.completed %} Concluido {% else %} Não Concluido {% endif %}</span>
               <p class="date">Criado em: {{ task.created_at }}</p>
         </li>
      {% empty %}
         <li>No tasks found.</li>
      {% endfor %}
   </ul>

   <a href="{% url 'tasks:create_task' %}">Criar tarefa</a>
   {% endblock %}